<!doctype html>
<html class="no-js" lang="ar">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Home</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../../public/css/normalize.css">
        <link rel="stylesheet" href="../../../public/css/fawsome.min.css">
        <link rel="stylesheet" href="../../../public/css/googleicons.css">
        <link rel="stylesheet" href="../../../public/css/main.css">
        
        <script src="../../../public/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <header class="main">
                <a href="javascript:;" data-menu-status="false" class="menu_switch"><i class="fa fa-bars"></i></a>
                <h1>اللوحة الرئيسية</h1>
            </header>
            <nav class="main_navigation">
                <div class="employee_info">
                    <div class="profile_picture">
                        <img src="/img/user.png" alt="User Profile Picture">
                    </div>
                    <span class="name">Mohamed elfert</span>
                    <span class="privilege">Admin</span>
                </div>
                <ul class="app_navigation">
                    <li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>
                    <li><a href=""><i class="fa fa-users"></i> Employees</a></li>
                    <li><a href=""><i class="fa fa-sign-out"></i> Log Out</a></li>
                </ul>
            </nav>
            <div class="action_view">
                <div class="content">
                    <h1>Welcome</h1>
                </div>
            </div>
        </div>
        <script src="../../../public/js/vendor/jquery-1.12.0.min.js"></script>
        <script src="../../../public/js/helper.js"></script>
        <script src="../../../public/js/main.js"></script>
    </body>
</html>